typedef _Bool *(*(*T[1][2]))[3][4];

_Bool f1(_Bool p1, _Bool **p2)
{
    if ()
    {
    }
    else
    {
    }

    for (;;)
    {
    }

    while ()
    {
    }

    do
    {
    } while ();

    switch ()
    {
    }
}
