# Timeout in seconds that Limine will use before automatically booting.
TIMEOUT=0
GRAPHICS=yes

:brutal
PROTOCOL=stivale2
KERNEL_PATH=boot:///kernel.elf

MODULE_PATH=boot:///bootstrap.elf
MODULE_STRING=bootstrap
